.container {
    background-color: black;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    padding: 20px;
    color: white;
    margin-bottom: 25px;
    height: 500px;
}

.image {
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 10px;
}

.title {
    font-size: 24px;
    color: #d5d4d4;
}

.genre {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.runtime {
    margin-bottom: 15px;
}

.rating {
    color: gold;
}
.about {
    overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}

.age {
    color: #d5d4d4;
}
